body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;

    background-image: url('images/background.png');
    background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat;  
}


#container{
    background: linear-gradient(to right, #ef3b36, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 25px 30px;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 15px;
}

label{
    font-weight: bold;
    font-size: 16px;
}

input{
    padding: 10px;
    width: 95%;
    border-radius: 6px;
    border: 1px solid #FFFF;
    font-size: 16px;
}

textarea{
    width: 380px;
    height: 250px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 18px;
    resize: none;
}

button{
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s ease-in-out;
}

#consultar{
    background: #b10606;
    color: white;
}

#consultar:hover{
    background: #790505;
}

#cadastrar{
    background: #b10606;
    color: white;
}

#cadastrar:hover{
    background: #790505;
}
